# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# DS Store files
**/.DS_Store

# coverage stuff
coverage/
lcov.info
